{% if messages %}
<div class="messages">
    {% for message in messages %}
    {% if message.tags == 'success' %}
    <div class="p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400"
        role="alert">
        <span class="font-medium">Success!</span> {{ message }}
    </div>
    {% elif message.tags == 'error' %}
    <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
        <span class="font-medium">{{ message }}</span> <br>

        {% for field, errors in form.errors.items %}
        {% for error in errors %}
        {{ field }}: {{ error }} <br />
        {% endfor %}
        {% endfor%}
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endif %}